@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .sidebar-link {
    @apply flex items-center space-x-4 block py-2.5 px-4 rounded transition-colors duration-200;
  }
  
  .sidebar-link:hover {
    @apply bg-teal-600;
  }
  
  .sidebar-link.active {
    @apply bg-teal-500;
  }
}

